[Desktop Entry]
Type=Application
Name=Telegram Desktop
Comment=Chat and share files with Telegram
Exec=telegram-desktop -- %u
Icon=telegram
Terminal=false
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/tg;
StartupWMClass=TelegramDesktop
StartupNotify=true
